//variables
//fonts
$font: 'Gilroy', Arial, sans-serif;

//colors
$text: #192b38;
$bg: #ffffff;
$btn: #ffa478;
$btn-h: #FFA34E;



//another
$font-size: 16px;

//layout
@import "layout/mixins";
@import "layout/fonts";
@import "layout/smart-grid";
@import "layout/adjustment";
@import "layout/common";

//sections
@import "sections/header";
@import "sections/index";
@import "sections/banner";
@import "sections/advantages";
@import "sections/sets";
@import "sections/edu";
@import "sections/pops";
@import "sections/offers";
@import "sections/steps";
@import "sections/revs";
@import "sections/footer";


.debug {
  //@include debug(rgba(0,0,0,0.3), 1px solid red);
  //z-index: 100;
  //top: 0;
}