//variables
//fonts
$font: 'Gilroy', Arial, sans-serif;

//colors
$text: #192b38;
$bg: #ffffff;
$btn: #ffa478;
$btn-h: #FFA34E;
$border: #e8e8e8;
$black: #000000;
$text2: #9a9a9a;

$main1: #1E7EB1;
$bg2: #f8f8f8;
$icon: #cecece;
$main3: #14c264;
$headers: #191919;
$main2: #f6c03f;


//another
$font-size: 16px;

//layout
@import "layout/mixins";
@import "layout/fonts";
@import "layout/smart-grid";
@import "layout/adjustment";
@import "layout/common";

//sections
@import "sections/header";
@import "sections/index";
@import "sections/banner";
@import "sections/advantages";
@import "sections/sets";
@import "sections/edu";
@import "sections/pops";
@import "sections/offers";
@import "sections/steps";
@import "sections/revs";
@import "sections/catalog";
@import "sections/product";
@import "sections/footer";


.debug {
  //@include debug(rgba(0,0,0,0.3), 1px solid red);
  //z-index: 100;
  //top: 0;
}