.btn {
  border-radius: 4px;
  background: $btn;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $bg;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.42;
  text-align: center;
  @include tr;
  @include sm-block {
    font-size: 14px;
  }


  &:hover, &:focus, &:active {
    background: $btn-h;
  }
}

.btn3 {
  @extend .btn;
  border-radius: 100px;
}

.link {
  border-radius: 100px;
  border: 1px solid #0374c6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #0374c6;
  font-size: 14px;
  font-weight: 600;
  @include tr;

  &:hover {
    background: #0374c6;
    color: $bg;
  }
}

.arr {
  width: 59px;
  height: 59px;
  background-color: rgba($bg, .5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  cursor: pointer;
  stroke: #ed9c3c;
  @include tr;

  svg {
    display: block;
  }

  &:hover {
    background: $bg;
  }
}

.jq-selectbox {
  width: 100%;
  font-family: Gilroy;

  &.opened {
    .jq-selectbox {
      &__trigger {
        &-arrow {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__select {
    height: 61px;
    padding: 0 40px 0 25px;
    display: flex;
    align-items: center;
    background: $bg;
    border-color: transparent;
    font: 20px/32px Gilroy, sans-serif;
    box-shadow: none;
    color: #828282;
    text-shadow: none;
    @include sm-block {
      height: 40px;
      padding: 0 30px 0 15px;
    }

    &-text {
      color: #828282;
      font-size: 20px;
      font-weight: 500;
      @include sm-block {
        font-size: 16px;
      }
    }
  }

  &__trigger {
    border: none;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include sm-block {
      width: 30px;
    }

    &-arrow {
      position: static;
      border: none;
      width: 16px;
      height: 10px;
      background: url("/images/icons/arr-down.svg") 0 0 no-repeat;
    }
  }

  &__dropdown {
    max-height: 300px;
    overflow-y: auto;
    margin: 0;
    border-radius: 4px;
    background-color: #f3f3f3;
  }

  li {
    padding: 15px 25px;
    color: #828282;
    font-size: 14px;
    font-weight: 500;

    &.selected {
      background-color: $btn-h;
    }
  }
}

.bread {
  padding: 25px 0;
  @include sm-block{
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &__link {
    padding: 0 15px;
    border-right: 1px solid $text2;
    line-height: 1.8;

    &:first-child {
      padding-left: 0;
    }

    &.active {
      border-color: transparent;

    }

    &-svg {
      width: 17px;
      height: 18px;
      fill: $btn;
      display: inline-block;
      margin-bottom: -2px;
    }

    &-txt {
      color: $text2;
      font-size: 14px;
      line-height: 1;
      @include sm-block {
        font-size: 12px;
      }
    }
  }
}

.left {
  @include col;
  @include size(6);
  @include md-block {
    display: none;
  }
}

.right {
  @include col;
  @include size(18);
  padding-left: 20px;

  @include lg-block {
    padding-left: 0;
  }
  @include size-md(24);
  @include size-sm(24);


  &__bread {
    margin-bottom: 5px;
    @include md-block {
      margin-bottom: 20px;
    }
    @include sm-block {
      margin-bottom: 10px;
    }
  }

  &__title {
    margin-bottom: 25px;
  }
}

.page {
  &__title {
    font-weight: bold;
    font-size: 35px;
    color: #134864;
    @include md-block {
      font-size: 28px;
    }
    @include sm-block{
      font-size: 20px;
    }
  }
}