.advantages {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 35px 0;
  @include sm-block{
    padding: 30px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @include lg-block {
      justify-content: center;
      @include row-flex;
      margin-bottom: -35px;
    }

  }

  &__item {
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include lg-block {
      @include col;
      margin-bottom: 30px;
    }
    @include size-lg(8);
    @include size-sm(12);
    @include sm-block{
      font-size: 12px;
    }

    img {
      display: block;
      margin-bottom: 10px;
    }

    span {
      display: block;
    }
  }
}