.advantages {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 35px 0;
  @include sm-block{
    padding: 30px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 35px 20px;
    @include md-block{
      grid-template-columns: repeat(3,1fr);
    }
    @include sm-block{
        grid-template-columns: repeat(2,1fr);
    }
  }

  &__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;


    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 115px;
      margin-bottom: 15px;

      img {
        display: block;
      }
    }

    &-title{
      font-weight: 600;
      font-size: 16px;
      line-height: lh(16,20);
      margin-bottom: 10px;
      @include sm-block{
        font-size: 12px;
      }
    }

    &-txt{
      font-size: 14px;
      font-weight: 400;
      @include sm-block{
        font-size: 12px;
      }
    }

  }
}