.banner{
  position: relative;
  @include sm-block{
    background-color: #f8f8f8;
  }

  &__slide{
    box-sizing: border-box;
    height: 777px;
    position: relative;
    @include lg-block{
      height: 440px;
    }
    @include sm-block{
      height: auto;
    }
  }

  &__imgs{
    width: 100%;
    height: 100%;
    @include sm-block{
      height: auto;
      margin-bottom: 25px;
    }
  }

  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__slider{
    .container{
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      padding-top: 260px;
      @include lg-block{
        padding-top: 115px;
      }
      @include sm-block{
        position: static;
        padding-top: 0;
      }
    }
  }

  &__wrap{
    @include col;
    @include size(10);
    @include shift-left(12);
    @include size-sm(24);
    @include sm-block{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 10px;
      padding-bottom: 80px;
    }
  }

  &__content{
    margin-bottom: 45px;
    @include lg-block{
      margin-bottom: 20px;
    }
    @include sm-block{
      margin-bottom: 15px;
    }

    h2{
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 40px;
      line-height: 110.69%;
      @include lg-block{
        font-size: 26px;
        margin-bottom: 20px;
      }
      @include sm-block{
        font-size: 18px;
        margin-bottom: 15px;
      }
    }

    p{
      opacity: 0.8;
      font-size: 18px;
      font-weight: 500;
      line-height: 160%;
      @include lg-block{
        font-size: 13px;
      }
    }
  }

  &__btn{
    width: 247px;
    height: 56px;
    border-radius: 100px;
    background-image: linear-gradient(89.62deg, #1e7eb1 0%, #47b1ea 100%);
    color: $bg;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    @include lg-block{
      width: 162px;
      height: 40px;
      font-size: 13px;
    }

    &:hover{
      background: linear-gradient(89.62deg, #46B0E9 10.36%, #47B1EA 88.57%);
    }
  }

  &__nav{
    pointer-events: none;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    .container{
      padding-top: 115px;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__arrs{
    display: flex;
    justify-content: space-between;
    @include lg-block{
      display: none;
    }
  }

  &__pag{
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @include lg-block{
      bottom: 25px;
    }
    @include sm-block{
      bottom: 35px;
    }

    .swiper-pagination-bullet{
      width: 50px;
      height: 4px;
      background-color: $bg;
      opacity: 1;
      border-radius: 0;
      margin: 0 10px;
      @include tr;
      @include sm-block{
        width: 30px;
        height: 3px;
        background-color: #cecece;
        margin: 0 5px;
      }
    }

    .swiper-pagination-bullet-active{
      height: 8px;
      background-color: $btn;
      @include sm-block{
        height: 5px;
      }
    }
  }
}