.header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;


  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    @include lg-block {
      justify-content: initial;
      padding: 10px 0;
    }
  }

  &__mmenu {
    display: none;
    @include lg-block {
      display: block;
      margin-right: 30px;
    }
    @include sm-block{
      margin-right: 20px;
    }
  }

  &__logo {
    flex-shrink: 0;
    @include lg-block {
      margin-right: auto;
      width: 110px;
    }
    @include sm-block{
      width: 72px;
    }
  }

  &__txt {
    @include lg-block {
      display: none;
    }
  }

  &__contacts {
    margin: 0 -10px;
    display: flex;
    align-items: center;
    @include lg-block {
      margin-right: auto;
    }
    @include sm-block{
      margin-left: -7.5px;
      margin-right: -7.5px;
    }
  }

  &__contact {
    margin: 0 10px;
    @include tr;
    @include sm-block{
      width: 23px;
      height: 26px;
      margin: 0 7.5px;
    }

    &:hover {
      opacity: .7;
    }

    svg{
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__tels {
    display: flex;
    @include sm-block{
      display: none;
    }
  }

  &__tel {
    margin-right: 45px;
    font-size: 20px;
    font-weight: 600;
    @include tr;
    @include lg-block{
      font-size: 16px;
    }

    &:last-child {
      margin: 0;
    }

    &:hover {
      color: $btn-h;
    }
  }

  &__btn {
    width: 200px;
    height: 46px;
    @include lg-block {
      display: none;
    }
  }

  &__bottom {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    align-items: center;
    @include lg-block {
      display: none;
    }
  }

  &__nav {
    flex-grow: 1;
    max-width: 1165px;
    margin-right: auto;
  }

  &__search {
    padding: 15px;
    stroke: #333333;
    margin-left: 30px;
    @include tr;

    &:hover {
      stroke: $btn-h;
    }

    svg {
      display: block;
    }
  }

}

.nav {
  display: flex;
  justify-content: space-between;

  &__item {
    font-weight: 700;
    text-transform: uppercase;
    padding: 19px 0;
    @include tr;

    &.active, &:hover {
      color: $btn-h;
    }
  }
}