-
    var advsList = [
        '2000+ учебных <br> заведений',
        'Круглосуточная <br> поддержка в поездке',
        'Оформление виз, <br> организация поездки',
        'Помощь в выборе <br> учебного заведения',
        'Скидки и акции <br> до 35 %'
    ];
-
    var eduList = [
        {
            top: 'Более',
            middle: '800',
            bottom: 'студентов'
        },
        {
            top: 'Прямые договоры  ',
            middle: '17',
            bottom: 'стран мира'
        },
        {
            top: 'На связи',
            middle: '27/7',
            bottom: 'во время вашей поездки '
        }
    ];
-
    var revsList = [
        {
            img: 'images/content/revs/1.png',
            name: 'Валерия',
            course: 'Языковые курсы и карьера',
            content: 'С консультантами Edutravel я познакомилась более 10 лет назад, будучи студенткой первого курса. С их помощью я прошла обучение в Англии в замечательной школе английского языка Anglo Continental. Английский язык помог мне сделать блестящую карьеру в крупной российской компании, связанной с экспортом…'
        },
        {
            img: 'images/content/revs/2.png',
            name: 'Максим',
            course: 'Высшее образование и подготовка',
            content: 'После окончания школы я решил поступать в английский университет, но сначала нужно было выбрать школу для Foundation Year. Недолго думая, я обратился за помощью к старым друзьям в Edutravel. Я выбрал Kings College Oxford, но было не всё так просто, чтобы начать обучение, мне нужен был сертификат IELTS, которого у меня, конечно, не было...'
        },
        {
            img: 'images/content/revs/3.png',
            name: 'Мама Елизаветы',
            course: 'Среднее образование и подготовка',
            content: 'Планируя обосноваться в Англии, мы решили, прежде всего, дать дочери возможность получить качественное образование, и подготовиться к университету. Знание языка оказалось недостаточным для зачисления в престижную школу-пансион. Помог совет консультантов...'
        },
        {
            img: 'images/content/revs/1.png',
            name: 'Валерия',
            course: 'Языковые курсы и карьера',
            content: 'С консультантами Edutravel я познакомилась более 10 лет назад, будучи студенткой первого курса. С их помощью я прошла обучение в Англии в замечательной школе английского языка Anglo Continental. Английский язык помог мне сделать блестящую карьеру в крупной российской компании, связанной с экспортом…'
        },
        {
            img: 'images/content/revs/2.png',
            name: 'Максим',
            course: 'Высшее образование и подготовка',
            content: 'После окончания школы я решил поступать в английский университет, но сначала нужно было выбрать школу для Foundation Year. Недолго думая, я обратился за помощью к старым друзьям в Edutravel. Я выбрал Kings College Oxford, но было не всё так просто, чтобы начать обучение, мне нужен был сертификат IELTS, которого у меня, конечно, не было...'
        },
        {
            img: 'images/content/revs/3.png',
            name: 'Мама Елизаветы',
            course: 'Среднее образование и подготовка',
            content: 'Планируя обосноваться в Англии, мы решили, прежде всего, дать дочери возможность получить качественное образование, и подготовиться к университету. Знание языка оказалось недостаточным для зачисления в престижную школу-пансион. Помог совет консультантов...'
        },

    ];