-
    var advsList = [
        {
            title: "Экспертность",
            txt: "Более 15 лет в сфере образования за рубежом",
            img: "images/content/advantages/1.png"
        },
        {
            title: "Гарантия качества",
            txt: "Прямые договоры с 700 + учебными заведениями в 20 странах мира",
            img: "images/content/advantages/2.png"
        },
        {
            title: "Комплексный подход",
            txt: "От помощи в выборе программы до получения визы",
            img: "images/content/advantages/3.png"
        },
        {
            title: "Клиентский сервис",
            txt: "Мы всегда на связи во время обучения вашего ребенка за рубежом",
            img: "images/content/advantages/4.png"
        },
        {
            title: "Программа лояльности",
            txt: "Скидки до 30% постоянным клиентам",
            img: "images/content/advantages/5.png"
        },
        {
            title: "Нам доверяют",
            txt: "87% клиентов работают с нами более одного года",
            img: "images/content/advantages/6.png"
        },

    ];
-
    var eduList = [
        {
            top: 'Более',
            middle: '800',
            bottom: 'студентов'
        },
        {
            top: 'Прямые договоры  ',
            middle: '17',
            bottom: 'стран мира'
        },
        {
            top: 'На связи',
            middle: '27/7',
            bottom: 'во время вашей поездки '
        }
    ];
-
    var revsList = [
        {
            img: 'images/content/revs/1.png',
            name: 'Валерия',
            course: 'Языковые курсы и карьера',
            content: 'С консультантами Edutravel я познакомилась более 10 лет назад, будучи студенткой первого курса. С их помощью я прошла обучение в Англии в замечательной школе английского языка Anglo Continental. Английский язык помог мне сделать блестящую карьеру в крупной российской компании, связанной с экспортом…'
        },
        {
            img: 'images/content/revs/2.png',
            name: 'Максим',
            course: 'Высшее образование и подготовка',
            content: 'После окончания школы я решил поступать в английский университет, но сначала нужно было выбрать школу для Foundation Year. Недолго думая, я обратился за помощью к старым друзьям в Edutravel. Я выбрал Kings College Oxford, но было не всё так просто, чтобы начать обучение, мне нужен был сертификат IELTS, которого у меня, конечно, не было...'
        },
        {
            img: 'images/content/revs/3.png',
            name: 'Мама Елизаветы',
            course: 'Среднее образование и подготовка',
            content: 'Планируя обосноваться в Англии, мы решили, прежде всего, дать дочери возможность получить качественное образование, и подготовиться к университету. Знание языка оказалось недостаточным для зачисления в престижную школу-пансион. Помог совет консультантов...'
        },
        {
            img: 'images/content/revs/1.png',
            name: 'Валерия',
            course: 'Языковые курсы и карьера',
            content: 'С консультантами Edutravel я познакомилась более 10 лет назад, будучи студенткой первого курса. С их помощью я прошла обучение в Англии в замечательной школе английского языка Anglo Continental. Английский язык помог мне сделать блестящую карьеру в крупной российской компании, связанной с экспортом…'
        },
        {
            img: 'images/content/revs/2.png',
            name: 'Максим',
            course: 'Высшее образование и подготовка',
            content: 'После окончания школы я решил поступать в английский университет, но сначала нужно было выбрать школу для Foundation Year. Недолго думая, я обратился за помощью к старым друзьям в Edutravel. Я выбрал Kings College Oxford, но было не всё так просто, чтобы начать обучение, мне нужен был сертификат IELTS, которого у меня, конечно, не было...'
        },
        {
            img: 'images/content/revs/3.png',
            name: 'Мама Елизаветы',
            course: 'Среднее образование и подготовка',
            content: 'Планируя обосноваться в Англии, мы решили, прежде всего, дать дочери возможность получить качественное образование, и подготовиться к университету. Знание языка оказалось недостаточным для зачисления в престижную школу-пансион. Помог совет консультантов...'
        },

    ];

-
    var catalogCats = [
        {
            title: "Германия",
            img: "images/content/catalog/level1/1.png"
        },
        {
            title: "Ирландия",
            img: "images/content/catalog/level1/2.png"
        },
        {
            title: "Мальта",
            img: "images/content/catalog/level1/3.png"
        },
        {
            title: "Канада",
            img: "images/content/catalog/level1/4.png"
        },
        {
            title: "США",
            img: "images/content/catalog/level1/5.png"
        },
        {
            title: "Кипр",
            img: "images/content/catalog/level1/6.png"
        },
        {
            title: "Швейцария",
            img: "images/content/catalog/level1/7.png"
        },
        {
            title: "Испания",
            img: "images/content/catalog/level1/8.png"
        },
        {
            title: "Чехия",
            img: "images/content/catalog/level1/9.png"
        }
    ];

-
    var catalogSubmenu = [
        'Классические курсы для детей',
        'Интенсивные курсы для детей',
        'Английский + хобби',
        'Курсы для взрослых',
        'Среднее образование',
    ];

-
    var catalogSubCats = [
        'Классические курсы для детей',
        'Классические курсы для детей',
        'Английский + Хобби',
        'Классические курсы для детей',
        'Классические курсы для детей',
        'Английский + Хобби',
    ];

-
    var productsList = [
        {
            title: 'BOURNEMOUTH UNIVERSITY, БОРНМУТ',
            age: '10-12, 13-17 лет',
            type: 'резиденция',
            date: '5 июля- 2 августа 2020',
            src: 'images/content/catalog/products/1.jpg'
        },
        {
            title: 'KING\'S SCHOOL, КЕНТЕРБЕРИKING\'S SCHOOL, КЕНТЕРБЕРИ',
            age: '8-12, 13-17 лет',
            type: 'резиденция, принимающая семья',
            date: '5 июля- 2 августа 2020',
            src: 'images/content/catalog/products/2.jpg'
        },
        {
            title: 'KING\'S SCHOOL, КЕНТЕРБЕРИKING\'S SCHOOL, КЕНТЕРБЕРИ',
            age: '10-12, 13-17 лет',
            type: 'резиденция',
            date: 'сентябрь, январь, май',
            src: 'images/content/catalog/products/3.jpg'
        },
        {
            title: 'BOURNEMOUTH UNIVERSITY, БОРНМУТ',
            age: '10-12, 13-17 лет',
            type: 'резиденция',
            date: '5 июля- 2 августа 2020',
            src: 'images/content/catalog/products/4.jpg'
        },
        {
            title: 'KING\'S SCHOOL, КЕНТЕРБЕРИKING\'S SCHOOL, КЕНТЕРБЕРИ',
            age: '8-12, 13-17 лет',
            type: 'резиденция, принимающая семья',
            date: '5 июля- 2 августа 2020',
            src: 'images/content/catalog/products/5.jpg'
        },
        {
            title: 'KING\'S SCHOOL, КЕНТЕРБЕРИKING\'S SCHOOL, КЕНТЕРБЕРИ',
            age: '10-12, 13-17 лет',
            type: 'резиденция',
            date: '5 июля- 2 августа 2020',
            src: 'images/content/catalog/products/6.jpg'
        }
    ];

-
    var catalogSort = [
        {
            title: 'По популярности (убывание)',
            cls: 'active'
        },
        {
            title: 'По популярности (возрастание)'
        },
        {
            title: 'По алфавиту (убывание)'
        },
        {
            title: 'По алфавиту (возрастание)'
        },
        {
            title: 'По цене (убывание)'
        },
        {
            title: 'По цене (возрастание)'
        },

    ];

-
    var productChars = [
        {
            name: "Расположение:",
            val: "Борнмут"
        },
        {
            name: "Программы:",
            val: "Лето с английским"
        },
        {
            name: "Возраст:",
            val: "10-12, 13-17 лет"
        },
        {
            name: "Дата курсов:",
            val: "5 июля-2 августа 2020"
        },
        {
            name: "Продолжительность:",
            val: "2-4 недели"
        },
        {
            name: "Интенсивность:",
            val: "16.7 часов в недею"
        },
        {
            name: "Проживание:",
            val: "Одноместные комнаты в резиденции"
        }
    ];

-
    productTabs = [
        'Описание',
        'Программы',
        'Стоимость',
        'Видео',
        'Карта',
    ];